table{
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    border-width: 1px;
    border-style:solid;
    border-color:#8A0868; 
}


th{
    font-weight:800;
    background-color:#8A0868;
    color: #ffffff;
}
